masters:
  - name: master1
    host: local
    users:
    - name: admin
      token: longrandomtokenadmin
      password: admin
      superuser: yes
      staff: yes
slaves:
  - name: lab-slave-0
    host: local
    remote_master: master1
    remote_user: admin
    dispatcher_ip: 192.168.66.1

boards:
  - name: qemu-02
    type: qemu
    slave: lab-slave-0
    kvm: True
  - name: meson-gxl-s905x-libretech-cc-01
    type: meson-gxl-s905x-libretech-cc
    slave: lab-slave-0
    pdu_generic:
      hard_reset_command: /usr/local/bin/acme-cli -s 192.168.66.2 reset 2
      power_off_command: /usr/local/bin/acme-cli -s 192.168.66.2 switch_off 2
      power_on_command: /usr/local/bin/acme-cli -s 192.168.66.2 switch_on 2
    uart:
      idvendor: 0x0403
      idproduct: 0x6001
      serial: FT9QR2TZ
  - name: meson-gxbb-nanopi-k2-01
    type: meson-gxbb-nanopi-k2
    slave: lab-slave-0
    custom_option:
    - 'set bootloader_prompt = "nanopi-k2#"'
    - "set interrupt_prompt = 'nanopi'"
    uboot_ipaddr: 192.168.66.201
    pdu_generic:
      hard_reset_command: /usr/local/bin/acme-cli -s 192.168.66.2 reset 3
      power_off_command: /usr/local/bin/acme-cli -s 192.168.66.2 switch_off 3
      power_on_command: /usr/local/bin/acme-cli -s 192.168.66.2 switch_on 3
    uart:
      idvendor: 0x0403
      idproduct: 0x6001
      serial: FT9ZOR0I
