slaves:
  - name: lab-extern-1
    host: externpc
    dispatcher_ip: 192.168.66.1
    remote_master: lava.example.com
    remote_user: lab-extern
    remote_user_token: lab-extern-randomtoken

boards:
  - name: qemu-01
    type: qemu
    slave: lab-extern-1
    kvm: True
